.about {
  padding: 100px 0;
  @media (max-width: 800px) {
    padding: 50px 0;
  }
  background: url('/src/images/about-bg.jpg') center /cover repeat-x;

  text-align: center;
  &__title {
    margin-bottom: 8px;
  }
  &__subtitle {
    max-width: 450px;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    text-align: left;
    @media (max-width: 800px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      row-gap: 30px;
    }
  }
  &__inner {
  }
  &__text + .about__text {
    margin-top: 30px;
    @media (max-width: 800px) {
      margin-top: 20px;
    }
  }
  &__list-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $black;
    margin-bottom: 30px;
    @media (max-width: 800px) {
      margin-bottom: 16px;
    }
  }
  &__list {
  }
  &__list-item {
    position: relative;
    padding-left: 50px;
    margin-bottom: 40px;
    @media (max-width: 800px) {
      margin-bottom: 16px;
    }
    &::before {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-image: url('/src/images/tick.png');
    }
  }
}
