.contacts {
  padding: 100px 0 0;
  text-align: center;
  background: linear-gradient(180deg, rgba(25, 37, 61, 0.9) 0%, #19253D 100%);
  color: $white;
  &__title {
    margin-bottom: 40px;

  }

  &__content {
    text-align: left;
    // display: grid;
    // grid-template: 1fr / repeat(3, max-content);
    // column-gap: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    @media (max-width: 900px) {
      flex-direction: column;
      text-align: center;
    }
  }
  &__inner {
    max-width: 300px;
    @media (max-width: 900px) {
      max-width: 100%;
    }
  }
  &__text {
    // text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__link {
    font-weight: 600;
    display: block;
    color: $accent;
    text-decoration: underline;
  }
  &__link + .contacts__link {
    margin-top: 5px;
  }
  &__map {
  }
  &__map-img {
  }
}
