.btn {
  width: 280px;
  height: 60px;
  background-color: $accent;
  // background: linear-gradient(270deg, #FFB319 -3.04%, rgba(255, 179, 25, 0.8) 100%);
  box-shadow: 0px 4px 4px rgba(255, 179, 25, 0.25);
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  transition: all 0.5s;
  &:hover {
    background-color: $dark;
    box-shadow: 0px 4px 4px rgba(25, 37, 61, 0.25);
  }
}

.link {
  font-weight: 500;
  color: $accent;
  text-decoration: underline;
}

.up-btn {
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: none;
  width: 60px;
  height: 60px;
}