.cooperation {
  padding: 100px 0;
  text-align: center;
  &__title {
  }
  &__subtitle {
  }
  &__wrapper {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }
  &__illustration {
  }
  &__illustration-img {
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__text + .cooperation__text {
    margin-top: 30px;
  }
  &__links {
    text-align: right;
  }
  &__link {
    font-size: 18px;
    line-height: 22px;
    margin-left: 30px;
  }
}
