.header {
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  &__top {
    position: relative;
    background: $white;
    border: 1px solid rgba(147, 149, 151, 0.1);
    box-shadow: 0px 5px 5px rgba(147, 149, 151, 0.25);
  }
  &__toggle {
    position: absolute;
    top: 30px;
    right: 15px;
    display: none;
    width: 34px;
    height: 28px;
    z-index: 11;
    @media (max-width: 1020px) {
      display: flex;
      align-items: center;
    }
  }
  &__toggle-btn {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: $accent;
    transition: all 0.2s ease-in;
    transform: rotate(0deg);
    &--1 {
      &.active {
        top: 12px;
        transform: rotate(-135deg);
        transition: all 0.2s ease-in;
      }
    }
    &--2 {
      top: 12px;
      &.active {
        left: -50px;
        background-color: transparent;
        transition: all 0.2s ease-in;
      }
    }
    &--3 {
      top: 24px;
      &.active {
        top: 12px;
        transform: rotate(135deg);
        transition: all 0.2s ease-in;
      }
    }
  }
  &__navigation {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1020px) {
      height: 80px;
    }
  }
  &__logo {
    @media (max-width: 1020px) {
      position: absolute;
      top: 25px;
      left: 15px;
      z-index: 11;
      flex: 1 1 auto;
  }
  }
  &__logo-img {
  }
  &__menu {
    display: flex;
    flex: 2 1 auto;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    @media (max-width: 1020px) {
      //display: none;
      position: absolute;
      top: 0;
      left: 0;
      padding: 130px 30px 70px;
      margin: 0 auto;
      display: block;
      width: 100vw;
      background-color: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0px 2px 10px 0 #dcd2c4;
      z-index: 10;
      transform: translateY(-100%);
    }
    &.active {
      transform: translateY(0);
    }
  }
  &__menu-list {
    display: flex;
    flex: 2 1 auto;
    justify-content: center;
    @media (max-width: 1020px) {
      margin-bottom: 30px;
      flex-direction: column;
      align-items: center;
    }
  }
  &__menu-item {
    @media (max-width: 1020px) {
      margin-bottom: 20px;
    }
  }
  &__menu-item + .header__menu-item {
    margin-left: 20px;
    @media (max-width: 1020px) {
      margin-left: 0;
    }
  }
  &__link {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: $black;
    transition: all 0.3s;
    &--phone::after {
      display: none;
    }
    &::after {
      content: '';
      width: 10%;
      height: 2px;
      background: $accent;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 24px;
      opacity: 0;
      transition-duration: 0.3s;
    }
    &:hover {
      color: $accent;
      &::after {
        opacity: 1;
        width: 100%;
      }
    }
  }
  &__contacts {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, max-content);
    column-gap: 16px;
    align-items: center;
  }
  &__social {
  }
  &__social svg {
    transform: translateY(10%);
    & path {
      transition: all 0.5s;
    }
    &:hover path {
      fill: $dark;
    }
  }
  &__promo {
    padding: 30px 0;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1020px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  &__text {
    width: 605px;
    @media (max-width: 630px) {
      width: 100%;
    }
  }
  &__title {
    margin-bottom: 10px;
  }
  &__subtitle {
  }
  &__btn {
  }
  &__illustration {
    position: relative;
    @media (max-width: 1020px) {
      order: -1;
      width: 260px;
      margin: 20px 0;
    }
  }
  &__illustration-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__illustration-circle--top {
    width: 98%;
    height: 98%;
    background: linear-gradient(
      180deg,
      rgba(255, 225, 148, 0.69) -0.64%,
      rgba(255, 225, 148, 0.7) 97.44%
    );
    box-shadow: 0px 4px 4px rgba(255, 225, 148, 0.25);
    border-radius: 50% 50% 70% 30% / 76% 50% 50% 24%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    animation: circleRadiusTop 10s alternate infinite;
  }
  &__illustration-circle--bottom {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      #ffb319 -2.58%,
      rgba(255, 179, 25, 0.7) 98.28%
    );
    box-shadow: 0px 4px 4px rgba(255, 179, 25, 0.25);
    transform: matrix(0.99, -0.11, -0.11, -0.99, 0, 0);
    border-radius: 61% 39% 44% 56% / 60% 55% 45% 40%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    animation: circleRadiusBottom 10s alternate infinite;
  }
  &__features {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    column-gap: 10px;
    @media (max-width: 1020px) {
      justify-items: center;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
      row-gap: 10px;
    }
    @media (max-width: 745px) {
      grid-template: repeat(3, 1fr) / 1fr;
    }
  }
  &__features-item {
    font-weight: 500;
    padding: 30px;
    max-width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white;
    border: 1px solid rgba(147, 149, 151, 0.1);
    box-shadow: 0px 5px 5px rgba(147, 149, 151, 0.25);
    border-radius: 8px;
    will-change: transform;
    transition: transform 0.5s;
    @media (max-width: 745px) {
      max-width: 80%;
    }
    @media (max-width: 500px) {
      max-width: 100%;
      padding: 20px;
    }
    &--last {
      @media (max-width: 1020px) {
        grid-column: 1/3;
      }
      @media (max-width: 745px) {
        grid-column: unset;
      }
    }
    &:hover {
      transform: scale(105%);
    }
  }
  &__features-img {
    margin-right: 24px;
    @media (max-width: 500px) {
      margin-right: 16px;
    }
  }
  &__features-text {
  }
}
