.order {
  padding: 100px 0;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 225, 148, 0) 0%, rgba(255, 179, 25, 0.2) 50%, rgba(255, 225, 148, 0) 100%);
  @media (max-width: 800px) {
    padding: 30px 0;
  }
  &__title {
  }
  &__subtitle {
    max-width: 700px;
  }
  &__text {
    text-align: left;
  }
  &__text-link {

  }
  &__form {
    margin-top: 40px;
  }
  &__form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    column-gap: 60px;
    row-gap: 20px;
    @media (max-width: 800px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(12, auto);
      row-gap: 10px;
    }
  }
  &__form-input {
    padding: 18px 30px;
    background: $white;
    border: 1px solid rgba(147, 149, 151, 0.1);
    box-shadow: 0px 5px 5px rgba(147, 149, 151, 0.25);
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    @media (max-width: 800px) {
      padding: 16px 20px;
      font-size: 14px;
      line-height: 20px;
    }
    &--select {
      appearance: none;
      background: $white url('/src/images/arrow.png') no-repeat top 60% right 5%;
      font-family: inherit;
      font-size: 16px;
      line-height: 24px;
      color: $light;
      & option:first-child {
        display: none;
      }
      @media (max-width: 800px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
    &--download {
      opacity: 0;
	    filter: alpha(opacity=0);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      cursor: pointer;
      width: auto;
      height: 100%;
    }
    &--file {
      background: $white url('/src/images/files.png') no-repeat top 55% right 5%;
    }
    &--datepick {
      opacity: 0;
	    filter: alpha(opacity=0);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      cursor: pointer;
      width: 100%;
      height: 100%;
    }
    &--date {
      background: $white url('/src/images/calendar.png') no-repeat top 55% right 5%;
      position: absolute;
      top: 0;
      right: 0;
    }
    &--textarea {
      grid-column: 2/3;
      grid-row: 5/7;
      @media (max-width: 800px) {
        grid-column: unset;
        grid-row: 11/13;
        font-size: 14px;
        line-height: 20px;
      }
    }
    &:focus {
      border: 1px solid $accent;
    }
    &:active {
      border: 1px solid $accent;
    }
    &::placeholder {
      font-family: inherit;
      font-size: 16px;
      line-height: 24px;
      color: $light;
      @media (max-width: 800px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  &__form-inner {
    // overflow: hidden;
	  position: relative;
  }
  &__note {
    margin: 20px 0 30px;
    color: $light;
    font-size: 14px;
    line-height: 20px;
  }
  &__note-link {
  }
  &__btn {
  }
}
