.payment {
  padding: 100px 0;
  text-align: center;
  background: url('/src/images/payment-bg.jpg') center repeat-x;
  @media (max-width: 800px) {
    padding: 30px 0;
  }
  &__title {
  }
  &__subtitle {
  }
  &__wrapper {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    margin-bottom: 30px;
    @media (max-width: 800px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      row-gap: 30px;
    }
  }
  &__inner {
  }
  &__list-title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $black;
    @media (max-width: 800px) {
      margin-bottom: 16px;
      text-align: center;
    }
  }
  &__list {
    @media (max-width: 800px) {
      max-width: 430px;
      margin: 0 auto;
    }
  }
  &__list-item {
  }
  &__text {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $black;
    @media (max-width: 800px) {
      margin-bottom: 16px;
      text-align: center;
    }
  }
  &__img {
    margin: 0 auto;
  }
  &__note {
    color: $light;
    font-size: 14px;
    line-height: 20px;
  }
  &__note-link {
  }
}
